absl-py==0.6.1
astor==0.7.1
astroid==2.0.4
certifi==2018.10.15
chardet==3.0.4
cloudpickle==0.6.1
colorama==0.4.0
cycler==0.10.0
dask==0.20.0
decorator==4.3.0
dlib==19.7.0
gast==0.2.0
grpcio==1.16.1
h5py==2.8.0
idna==2.7
imutils==0.5.1
isort==4.3.4
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==3.0.1
matplotlib==3.0.2
mccabe==0.6.1
networkx==2.2
numpy==1.15.3
opencv-contrib-python==3.4.3.18
Pillow==5.3.0
playsound==1.2.2
protobuf==3.6.1
pylint==2.1.1
pyparsing==2.3.0
python-dateutil==2.7.5
PyWavelets==1.0.1
PyYAML==3.13
requests==2.20.1
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
tensorboard==1.12.0
tensorflow==2.3.1
termcolor==1.1.0
toolz==0.9.0
typed-ast==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
wincertstore==0.2
wrapt==1.10.11
